/* Your styles should be mobile-first and responsive */

/* 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
* {
  box-sizing: border-box;
  border: none;
}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #b22222;
}

body {
  background-color: #b8b8b8;
  color: #303030;
  font-size: 25px;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hide-button {
  display: none;
}

#begin, #submit-answer-btn, #next-question-btn, #restart {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #b22222;
  color: white;
  border: 2px solid #202020;
}

.begin-quiz, .question-form, .results {
  border-style: solid;
  border-color: #202020;
  padding: 0px 10px 10px 10px;
}

.right-answer, .wrong-answer {
  color: #b22222;
}



